<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M O R T I S</title>

    <!-- Include the Socket.IO client library -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/sam-js/samjs.min.js"></script>

    <script>
        function zalgoText(text) {
            const zalgoChars = [
                '\u030d', '\u030e', '\u0304', '\u0305', '\u033f', '\u0311', '\u0306', '\u0310',
                '\u0352', '\u0357', '\u0351', '\u0307', '\u0308', '\u030a', '\u0342', '\u0343',
                '\u0344', '\u034a', '\u034b', '\u034c', '\u0303', '\u0302', '\u030c', '\u0350',
                '\u0300', '\u0301', '\u030b', '\u030f', '\u0312', '\u0313', '\u0314', '\u033d',
                '\u0309', '\u0363', '\u0364', '\u0365', '\u0366', '\u0367', '\u0368', '\u0369',
                '\u036a', '\u036b', '\u036c', '\u036d', '\u036e', '\u036f', '\u033e', '\u035b',
                '\u035c', '\u035d', '\u035e', '\u035f', '\u0360', '\u0362', '\u0336', '\u031a'
            ];

            const getRandomInt = (max) => Math.floor(Math.random() * max);
            const maxDistortionLevel = 20; // Maximum number of combining characters per character

            const zalgoTextArray = Array.from(text).map(char => {
                const numCombiningChars = getRandomInt(maxDistortionLevel) + 1; // Random number of combining characters
                const combiningChars = Array.from({ length: numCombiningChars }, () => zalgoChars[getRandomInt(zalgoChars.length)]).join('');
                return char + combiningChars;
            }).join('');
            
            return zalgoTextArray;
        }

    </script>

    <script>
        const sAddress = '<%= socketAddress %>';
        const sPort = '<%= socketPort %>';

        console.log(`Server set to: ${sAddress}:${sPort}`);

        // Initialize Socket.IO client
        const socket =  io(`${sAddress}:${sPort}`);

        // Event listeners
        socket.on('connect', () => {
            const greeting = "A client connects with one bullet!";
            console.log('Connected to socket server');
            socket.emit('hello', greeting);
        });

        socket.on('mortts', packet => {
            const param = JSON.parse(packet);
            
            //If you want to use params set from the server (the random function over there makes this a bit much, tbh):
            var mouth = new SamJs({speed: param.speed, pitch: param.pitch, singmode: param.singmode});

            //If you want to override the packet speed/pitch/singmode, uncomment and modify the line below:
            //var mouth = new SamJs({speed: 90, pitch: 90, singmode: false});
            
            console.log(param)
            //Here's an example of getting it to speak:
            //mouth.speak(`${param.username} says ${param.msg}`);
            const zalgoMessage = zalgoText(param.msg);
            document.getElementById('username').textContent = `${param.username}:`
            document.getElementById('message').textContent = zalgoMessage;

            mouth.speak(param.msg);
        });

        socket.on('disconnect', () => {
            console.log('Disconnected from socket server');
        });

        // Listen for the 'hello' event
        socket.on('hello', (data) => {
            console.log(data); // Print the greeting message received from the server
        });
    </script>
</head>
<body style="background-color: #0F0F0F; color:#A9A9A9;">
    <h1>M̴͉̖̳̬͖͆̎̈́͆́̕ͅŏ̵̲̬̩͊͒̚̕͝r̸̲̤͛t̵̡͇̜̉͂̐͜ţ̴̡̭͗̇̀̄͠s̶̻̳̠͙̯̽̈̽̔̆͘</h1>
    <br/><br/><br/>
    <div>
        <span><h1 id="username"></h1></span>
        <br/><br/>
        <span id="message" style="font-size:50pt;"></span>
    </div>

<script>

</script>
</body>
</html>
