<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M O R T I S</title>

    <!-- Include the Socket.IO client library -->
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

    <script>

        app.get('/', (req,res) =>{
            const data{
                hAddress: hAddress,
                hPort: hPort
            }
        });

        const sAddress = data.hAddress;
        const sPort = data.hPort;

        // Initialize Socket.IO client
        const socket = io(`${sAddress}:${sPort}`);
        // Event listeners
        socket.on('connect', () => {
            console.log('Connected to socket server');
            socket.emit('hello');
        });

        socket.on('disconnect', () => {
            console.log('Disconnected from socket server');
        });
    </script>
</head>
<body style="background-color: #0F0F0F; color:#A9A9A9;">
    <h1>Example Page</h1>
    <p>Check the console for the socket connection status.</p>
</body>
</html>
